.table-card {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.table-card:hover {
    transform: translateY(-8px);
}

::ng-deep .mat-mdc-card {
    background: white !important;
}

.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}